body{
	background-image: url(../assets/img/fondo2.jpg);

	background-size: cover;
	background-repeat: no-repeat;




}

.imga1{
	width: 25%;

	

}


.img-fluid1{
	justify-content: center;


}


.text-center{
	background-color:#e8e6a7;
	padding-bottom: 50px;
	padding-right: 50px;
	padding-left: 50px;

}



.row{
	justify-content: center;
}



.post2{
	padding-bottom: 20px;
	padding-top: 20px;
	

}


.imgb1{
	margin-bottom: 20px;
	margin-left: 50px;
	width: 250px;
}
.imgb2{
	margin-bottom: 20px;
	margin-left: 50px;
	width: 250px;
}
.imgb3{
	margin-bottom: 20px;
	margin-left: 50px;
	width: 250px;
}