body{
	background-image: url(../assets/img/fondo2.jpg);

	background-size: cover;
	background-repeat: no-repeat;





}

.navbar{
	margin-left: 0;
	margin-right: 0;
	font-family: 'Fredoka', sans-serif;

}

.imga1{
	width: 25%;

	

}


.img-fluid1{
	justify-content: center;


}


.text-center{
	background-color:#e8e6a7;
	padding-bottom: 50px;
	padding-right: 50px;
	padding-left: 50px;
	margin-left: 20px;

}



.row{
	justify-content: center;
}



.post2{
	padding-bottom: 20px;
	padding-top: 20px;
	

}


.imgb1{
	margin-bottom: 20px;
	margin-left: 50px;
	width: 250px;
}
.imgb2{
	margin-bottom: 20px;
	margin-left: 50px;
	width: 250px;
}
.imgb3{
	margin-bottom: 20px;
	margin-left: 50px;
	width: 250px;
}


.banner{
	background-color: #dbfffe;
	font-family: 'Fredoka', sans-serif;
}
.card1{
	margin-bottom: 10px;
	background-color: #e9e9e9 ;
}

.card2{
	margin-bottom: 10px;
	background-color: #e9e9e9 ;
}

.card3{
	margin-bottom: 10px;
	background-color: #e9e9e9 ;
}

.banner1{
	width: 70%;
	text-align: center;
	font-family: 'Fredoka', sans-serif;

}
.form{

	padding-left: 50px;
	padding-right: 50px;
	background-color: #a8b3ab;
}